* {
  margin: 0px;
  padding: 0px;
}

.header-element {
  display: flex;
  height: 40px;
  margin: 0px 0px 0px 0px;
}

.header-text {
  font-size: 11px;
  margin-right: 116px;
  padding: 0px 65px 0px 16px;
}

.sin-up {
  display: flex;
  margin: 0px 0px 0px 248px;
}

.sin-up a {
  color: #2a52eb;
  text-decoration: none;
  margin: 0px 12px 0px 0px;
  font-size: 14px;
  cursor: pointer;
}

.sin-up a:hover {
  color: #435ecc;
}

.header-bottom {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 0px;
  justify-content: space-around;
  height: 40px;
  background-color: #e3dede;
}

.logo {
  margin-right: 273px;
}

.logo img {
  width: 70px;
}

.menu-list {
  margin: 0px 0px 8px 127px;
}

.menu-list li a {
  margin: 0px 5px 0px 6px;
  font-size: 10px;
}

#add {
  padding: 4px;
}

/* -------------------------------end------------------------------------ */

/* -------------------------------start------------------------------- */
.section-p {
  margin: 0px 0px 0px 0px;
  background: rgb(35, 195, 34);
  background: linear-gradient(0deg, rgba(35, 195, 34, 1) 0%, rgba(48, 45, 253, 1) 100%);
  height: 221px;
  position: relative;
}

.section-1 {
  display: flex;
  align-items: center;
  position: absolute;
  margin: 0px 0px 0px 0px;
}

.section-text {
  color: white;
}

.section-img img {
  width: 144px;
  margin: 7px 1px 0px 0px;
}

.p1 {
  font-size: 7px;
  padding: 19px 24px 0px 9px;
}

.section-h {
  font-size: 22px;
  padding: 3px 0px 0px 9px;
}

.section-pa {
  padding-top: 3px;
  padding-right: 20px;
  font-size: 9px;
  margin: 0px 0px 0px 11px;
}

.btn-1 {
  margin: 11px 0px 0px 9px;
  padding: 5px;
  font-size: 7px;
}

.custom-shape-divider-bottom-1724405223 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1724405223 svg {
  position: relative;
  display: block;
  width: calc(211% + 1.3px);
  height: 51px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1724405223 .shape-fill {
  fill: #FFFFFF;
}

/* -----------------------------------end---------------------------------- */

/* ---------------------------start------------------------------- */
.section-second {
  height: 162px;
  justify-content: center;
  background-color: #f6f3f3a6;
  margin: 0px 0px 0px 0px;
  position: relative;
}

.section-second-element {
  margin: 21px 0px 0px 65px;
}

.section-second-1 {
  flex: 1;
  width: 50%;
}

.section-second-1-all {
  display: flex;
  background-color: #FFFFFF;
  height: 55px;
  align-items: center;
  width: 80px;
}

.section-second-2-all {
  display: flex;
  background-color: white;
  height: 55px;
  align-items: center;
  width: 80px;
}

.section-second-3-all {
  display: flex;
  background-color: white;
  height: 55px;
  align-items: center;
  width: 80px;
}

.section-second-1-img img {
  width: 40px;
  position: relative;
  margin: 0px 0px 0px 0px;
}

.section-second-2-img img {
  width: 40px;
  position: relative;
  margin: 0px 0px 0px 0px;
}

.section-second-3-img img {
  width: 40px;
  position: relative;
  margin: 0px 0px 0px 0px;
}

.box {
  width: 40px;
  height: 40px;
  margin: 4px 0px 0px 41px;
}

.section-second-1 li {
  list-style: none;
}

.section-second-2 li {
  list-style: none;
}

.section-second-3 li {
  list-style: none;
}

.section-second-1 li a {
  margin-left: 10px;
  font-size: 5px;
  position: absolute;
}

.section-second-2 li a {
  margin-left: 10px;
  font-size: 5px;
  position: absolute;
}

.section-second-3 li a {
  margin-left: 10px;
  font-size: 5px;
  position: absolute;
}

.section-second-p {
  margin: 0px 0px 4px 9px;
  font-size: 5px;
}

.section-second-h {
  margin: 0px 0px 0px 10px;
  font-size: 6px;
}

.help-element {
  display: flex;
  margin: 95px 0px 0px 0px;
  left: 17%;
  position: absolute;

}

.help-element-1 {
  display: flex;
  align-items: center;
  background-color: white;
  width: 60px;
  height: 40px;
}

.help-element-img img {
  width: 21px;
  margin: 0px 0px 0px 1px;
}

.help-element-con {
  margin: 0px 0px 0px 1px
}

.help-element-p2 {
  font-size: 4px;
  margin: 5px 0px 0px 0px;
}

.help-element-p {
  font-size: 4px;
}

/* ----------------------------------- */

#products {
  height: 729vh;
  margin-left: 0px;
  margin-right: 0px;
}

.products-h {
  font-size: 18px;
  margin-left: 12px;
  margin-top: 21px;
}

.products-element {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 30px;
  margin: 58px 0px 0px 0px;
  padding: 0px;
}

.product-1 {
  width: 87%;
  margin-left: 26px;
  height: auto;
  max-height: 500px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 6px;
}

.product-1-img img {
  margin: 0px 0px 0px 43px;
  width: 200px;
  position: absolute;
}

.product-1-con {
  margin: 183px 0px 0px 0px
}

.product-1-h {
  margin: 0px 0px 0px 11px;
}

.product-1-p {
  margin: 11px 0px 0px 13px;
  position: relative;
  background-color: #ea9898;
  width: 65px;
  height: 22px;
  padding: 2px;
  border-radius: 12px;
}

.product-1-p-2 {
  position: relative;
  margin-left: 11px;
  margin-top: 6px;
  font-size: 13px;
}

.no-price {
  margin-left: 11px;
  text-decoration: line-through;
  font-size: 20px;
}

.current-price {
  margin-left: 11px;
  font-size: 20px;
}

.avaliable {
  margin-left: 11px;
}

.btn-2 {
  margin: 4px 0px 10px 11px;
  background-color: black;
  color: white;
  border: none;
  width: 113px;
  height: 22px;
  border-radius: 5px;
  cursor: pointer;
}

/* ----------------------------------------------- */
.section-footer {
  background-color: #000000;
  color: white;
  margin: 0px 0px 0px 0px;
  font-size: 9px;
  height: 30px;
  text-align: center;
  position: relative;
}

.footer-bottom-h {
  position: absolute;
  margin: 10px 0px 0px 113px;
  font-size: 9px;
}

.footer-top {
  display: flex;
  height: 105px;
  background-color: #000000;
  margin: 0px 0px 0px 0px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hr-1 {
  margin: 0px 20px 0px 20px;
}

.footer-top-right {
  margin-right: 5px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.footer-top-left-img {
  width: 40px;
  margin: 14px 0px 0px 11px;
}

.footer-top-left-p {
  margin-left: 11px;
  margin-top: 10px;
  font-size: 7px;
}

.shopping-section li {
  font-size: 6px;
  list-style: none;
  margin: 1px 0px 0px 0px;
}

.shopping-section li a {
  text-decoration: none;
  color: #ffffff;
}

.shopping-section {
  margin: 10px 4px 0px 0px;
  width: 54px;
}

.shopping-section-h {
  margin: 0px 0px 7px 0px;
  font-size: 9px;
}

.visa-cards img {
  width: 19px;
  margin: 0px 5px 0px 0px;
}

.visa-cards {
  margin: 8px 0px 0px 11px;
}

/* --------------------------about-us-------------------------- */

.im {
  width: 104px;
  height: 104px;
}

.aboutus {
  height: 593px;
  margin: 0px 0px 0px 0px;
}

.ab {
  top: 17px;
  font-size: 11px;
}

.about-us-element {
  height: 512px;
  padding: 0px 31px;
}

.about-us-con-h {
  margin: 0px 0px 24px 0px;
  font-size: 19px;

}

.about-us-con-p {
  padding: 0px 40px 0px 0px;
}

.about-us-element button {
  margin-top: 30px;
  height: 34px;
  width: 104px;
}

.bt-1 {
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* ---------------------------contect-us--------------------------- */

.container {
  background-color: white;
  padding: 20px;
  margin: 0px 0px 0px 0px;
}

.container-h {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.container-p {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 0px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 290px;
}

.form button {
  margin-left: 122px;
}

/* ------------------------------------login=----------------------- */
#min-box {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 0px;
}

.min-box-c {
  width: 336px;
  height: 375px;
  color: white;
  background: rgb(195, 34, 34);
  background: linear-gradient(0deg, rgba(195, 34, 34, 1) 0%, rgba(25, 23, 179, 1) 100%);
  margin: 92px 20px 0px 20px;
}

.min-box-in {
  background: transparent;
  width: 200px;
}
.closes {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  margin: 20px 0px 0px 31px;
}

.min-box-h {
  position: absolute;
  margin: 49px 0px 0px 138px;
}

.form-g {
  padding: 107px 0px 0px 79px;
  margin-top: 10px;
}

.form-g-1 {
  padding: 25px 0px 0px 79px;
}

.min-box-btn {
  margin: 19px 0px 0px 79px;
}
/* ----------------------------------signup-------------------- */

.signup-container {
  position: fixed;
  background-color: #fff;
  padding: 0px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto;
  margin: 0px 80px;
  display: flex;
  z-index: 1000;
  left: 0;
  top: 100px;
  height: auto;
  overflow: auto;
}

.signup-container-h {
  text-align: center;
  position: absolute;
  margin: 24px 0px 0px 10px;
  font-size: 20px;
}

#signup-form {
  margin: 61px 0px 0px 0px;
}

.form-group-s {
  margin-bottom: 15px;
  margin-left: 7px;
}

.form-group-s label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group-s input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 183px;
}

form button {
  margin-left: 58px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  margin: 12px 0px 0px 186px;
}